<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li>pag</li>
                <li>s</li>
                <li>d</li>
                <li>d</li>
                <li>g</li>
            </ul>
        </nav>
    </header>
    
    @RenderBody()

    <footer>
        <p>Adrian Medina</p>
    </footer>
</body>
</html>